a{
    color: rgba(89, 89, 172);  
}

*{
      padding: 0;
      margin: 0;
}
.main-container{
      display: flex;
      justify-content: center;
}

.image-container img{
      height: 561.15px;
      margin: 40% 0 0 0;
}


.get-app > img{
      height: 2em;
}

.right-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 10% 0 0 0;
}

.first-one{
      border: 1px solid rgb(134, 132, 132);
      /* height: 20em; */
      width: 23em;
      padding: 20px 10px 0 ;
      /* box-shadow: 0px 10px; */
}

.first-one h1{
      text-align: center;
      margin: 0 0 20px 0;
}

.input-field{
      text-align: center;
      padding: 9px;
      width: 90%;
      background-color: white;
      margin: 5px;
      border: 1px solid rgba(172, 164, 164, 0.39);
      border-radius: 2px;
      box-shadow: 0 px 10px;
}

.login-button{
      color: white;
      background-color:hsl(205, 97%, 65%)                         ;
      padding: 9px;
      width: 100%;
      border: none;
      border-radius: 10px;
      align-items: center;
      margin: 15px 0 0 0;
      display: flex;
      justify-content: center;
}

.or-text{
      text-align: center;
      font-size: 0.5em;
      font-weight: 300;
      
}

.login-forgot{
      text-align: center;
      font-size: 0.6em;
      margin: 1.5em 0;
      font-weight: 300;
      
}

.sign-up{
      border: solid 1px gray;
      margin: 10px 0;
      padding: 30px 0px;
      text-align: center;
      font-weight: 300;
}

.forgot{
      font-size: 0.6em;
}

.get-app{
      text-align: center;
      margin-top: 5%;
}

.get-app > img {
      height: 40px;
      /* margin-top: 5%; */
}

a{
      text-decoration: none;
}

.footer {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 12px;
      color: #737373;
      cursor: pointer;
      justify-content: space-between;
      text-align: center;
      align-items: stretch;
      flex-direction: column;
      margin-top: 3%;
}

.meta-footer {
      word-spacing: 13px;
    
  }

  
